<%= form_with(model: content, local: true) do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin.admin? %>
    <div class="field">
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, user_options, :id, :name %>
    </div>
  <% else %>
    <%= form.hidden_field :user_id %>
  <% end %>

  <div class="content_edit">
    <%= form.label :title %><br>
    <div class="content_edit_title">
      <%= form.text_field :title, class: "content_edit_title_text_field" %>
    </div>
  
    <div class="content_edit_body">
      <div class="content_edit_image">
        <% if content.static_file.nil? %>
          コンテンツが投稿されていません
        <% elsif ['video/mp4', 'video/quicktime'].include?(content.static_file.mime_type) %>
          <video width="500px" height="337.5px" src="<%= content.static_file.content_file.url %>" controls></video>
        <% elsif ['image/jpeg', 'image/png', 'image/gif', 'image/bmp'].include?(content.static_file.mime_type) %>
          <img width="500px" height="337.5px" src="<%= content.static_file.content_file.url %>" alt="アップロードした画像"></img>
        <% elsif ['audio/mp3', 'audio/mp4'].include?(content.static_file.mime_type) %>
          <audio width="200px" src="<%= content.static_file.content_file.url %>" controls></audio>
        <% end %>
        <%= form.hidden_field :static_file_id %>
        <%= form.hidden_field :content_id %>
        <%= form.hidden_field :status %>
      </div>
      
      <div class="content_edit_detail">
        <%= form.label :address %><br>
        <%= form.collection_select :address_id, address_options, :id, :name, {prompt: ""}, {class: "content_edit_address"} %><br><br>
    
        <%= form.label :sender %><br>
        <%= form.text_field :sender, class: "content_edit_address" %><br><br>
      
        <%= form.label :send_at %><br>
        <div class="input-group date datetimepicker">
          <%= form.text_field :send_at, class: "form-control" %>
         <span class="input-group-addon">
             <span class="fa fa-calendar"></span>
         </span>
        </div>
      </div>
    </div>
    
    <div class="content_edit_text">
      <%= form.label :text %><br>
      <%= form.text_area :text,  class: "content_edit_text_area" %>
    </div>
  
    <div>
      <%= form.submit :class=>"content_edit_actions_btn" %>
    </div>
    
  </div>
<% end %>
