<%= form_with(model: content, local: true) do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin.admin? %>
    <div class="field">
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, user_options, :id, :name %>
    </div>
  <% else %>
    <%= form.hidden_field :user_id %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <p>
    <% if content.static_file.nil? %>
      画像または動画がアップロードされていません。
    <% elsif content.static_file.mime_type == 'video/mp4' %>
      <video width="200px" src="<%= content.static_file.content_file.url %>"></video>
    <% elsif content.static_file.mime_type == 'image/jpeg' %>
      <img width="200px" src="<%= content.static_file.content_file.url %>" alt="アップロードした画像"></img>
    <% end %>
    <%= form.hidden_field :static_file_id %>
    <%= form.hidden_field :content_id %>
    <%= form.hidden_field :status %>
  </p>
  
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.collection_select :address_id, address_options, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :sender %>
    <%= form.text_field :sender %>
  </div>

  <div class="field">
    <%= form.label :send_at %>
    <%= form.datetime_select :send_at, include_blank: true %>
  </div>

  <% if content.received_at.present? %>
    <div class="field">
      <%= form.label :received_at %>
      <%= content.received_at.to_s %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
