<% provide(:title, "投稿一覧") %>

<h1><%= t '.title', { content: tm(:content) } %></h1>

<table>
  <thead>
    <tr>
      <th><%= tm :content, :static_file_id %></th>
      <th><%= tm :content, :user %></th>
      <th><%= tm :content, :title %></th>
      <th><%= tm :content, :format %></th>
      <th><%= tm :content, :text %></th>
      <th><%= tm :content, :address %></th>
      <th><%= tm :content, :sender %></th>
      <th><%= tm :content, :send_at %></th>
      <th><%= tm :content, :sent_at %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= image_tag content.static_file.content_file.url %></td>
        <td><%= content.user_id %></td>
        <td><%= content.title %></td>
        <td><%= content.format %></td>
        <td><%= content.text %></td>
        <td><%= content.sender %></td>
        <td><%= content.send_at %></td>
        <td><%= content.sent_at %></td>
        <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>
        <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>
