<% provide(:title, "投稿一覧") %>

  <div class="content_detail">
    <% @contents.each do |content| %>
      <div class="content_thumbnail">
          <% if ['video/mp4', 'video/quicktime'].include?(content.static_file.mime_type) %>
            <video width="400px" height="270px" src="<%= content.static_file.content_file.url %>" controls></video>
          <% elsif content.static_file.mime_type == 'image/jpeg' %>
            <img width="400px" height="270px" src="<%= content.static_file.content_file.url %>" alt="アップロードした画像"></img>
          <% end %>
      </div>
      <div class="content_description">
        <span class="content_title"><%= content.title %></span><br><br>
        <span><%= tm :content, :sender %> : <%= content.sender %></span><br>
        <span><%= tm :content, :send_at %> : <%= content.send_at %></span><br>
        <span><%= tm :content, :sent_at %> : <%= content.sent_at %></span><br>
        <span><%= tm :content, :status %> : <%= content.status %></span><br><br>
        <%= link_to '詳細', content, class: 'content_btn content_btn_show' %>
        <%= link_to '編集', edit_content_path(content), class: 'content_btn content_btn_edit' %>
        <%= link_to '削除', content, class: 'content_btn content_btn_destroy', method: :delete, data: { confirm: 'このコンテンツを消去しますか?' } %>
      </div>
    <% end %>
  </div>

<%= will_paginate %>

<br>

<%= link_to 'New Content', new_content_path %>
