


<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @content.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Format:</strong>
  <%= @content.format %>
</p>

<p>
  <% if @content.static_file.mime_type == 'video/mp4' %>
    <video src="<%= @content.static_file.content_file.url %>"></video>
  <% elsif @content.static_file.mime_type == 'image/jpeg' %>
    <img src="<%= @content.static_file.content_file.url %>" alt="アップロードした画像"></img>
  <% end %>
</p>

<p>
  <strong>Text:</strong>
  <%= @content.text %>
</p>

<p>
  <strong>Address:</strong>
  <%= @content.address %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @content.sender %>
</p>

<p>
  <strong>Send at:</strong>
  <%= @content.send_at %>
</p>

<p>
  <strong>Post at:</strong>
  <%= @content.post_at %>
</p>

<p>
  <strong>Received at:</strong>
  <%= @content.received_at %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
