<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin.admin? %>
    <div class="field">
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, user_options, :id, :name %>
    </div>
  <% else %>
    <%= form.hidden_field :user_id %>
  <% end %>
  
  <div class="field"><br>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field"><br>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div class="field"><br>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </div>

  <div class="field"><br>
    <%= form.label :gender %><br>
    <%= form.select :gender, User.gender.options %>
  </div>

  <div class="user_actions"><br><br>
    <%= form.submit :class=>"user_edit_btn"%>
  </div>
<% end %>
