<p id="notice"><%= notice %></p>

<% if current_user.admin.admin? %>
  <h1><%= t '.title_admin', { name: tm(:user) } %></h1>
  <% else %>
  <h1><%= t '.title_user', { name: tm(:user) } %></h1>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= tm :user, :name %></th>
      <th><%= tm :user, :email %></th>
      <th><%= tm :user, :gender %></th>
      <th><%= tm :user, :created_at %></th>
      <th><%= tm :user, :updated_at %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.admin.admin? %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.gender %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
        </tr>
      <% end %>
      <% else %>
        <tr>
          <td><%= current_user.name %></td>
          <td><%= current_user.email %></td>
          <td><%= current_user.gender %></td>
          <td><%= current_user.created_at %></td>
          <td><%= current_user.updated_at %></td>
        </tr>
    <% end %>
        <tr>
          <td><%= link_to 'Show', current_user %></td>
          <td><%= link_to 'Edit', edit_user_path(current_user) %></td>
          <td><%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
