<% provide(:title, "新規登録") %>

<h3>新規アカウントの作成</h3>

<div class="row">
    <%= form_for(@user) do |f| %>
    
      <div class="field">
        <%= f.text_field :name, :placeholder => " 名前" %>
      </div>
      
      <div class="field">
        <%= f.select :gender, User.gender.options %>
      </div>
      
      <div class="field">
        <%= f.email_field :email, :placeholder => " メールアドレス" %>
      </div>
      
      <div class="field">
        <%= f.password_field :password, :placeholder => " パスワード" %>
      </div>
      
      <div class="field">
        <%= f.submit "アカウントを作成", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>
