<% provide(:title, "Home") %>

    
<div class="home">
  <div class="movie_zone">
    <%= form_for @static_file, html: {class:'dropzone', id: "static_file-dropzone1"} do |f| %>
      <div class="dz-message needsclick">
        <h2>動画 or ボイス or 画像を送る</h2> 
        <h4>Drag & drop or Click here</h4>
        <p class="Format">Format: mp4 quicktime mp3 jpg png gif bmp</p>
      </div>
      
      <div class="fallback">
        <%= f.file_field :content_file %>
        <%= hidden_field_tag 'create_content', 1 %>
        <%= f.submit 'upload the image' %>
      </div>
      
      <%= f.hidden_field :mime_type %>
      
    <% end %>
    
    <a href="/contents/new?content%5Bstatic_file_id%5D=[response.itemId]" style="visibility:hidden" id="target1">未来へ送る</a>
    
  </div>
</div>
