<p id="notice"><%= notice %></p>

<p>
  <strong>Mime type:</strong>
  <%= @static_file.mime_type %>
</p>

<p>
  <strong>Content File:</strong>
  <%= @static_file.content_file %>
</p>

<p>
  <strong>Preview:</strong>
  <div>
    <% if @static_file.mime_type == 'video/mp4' %>
      <video width="200px" src="<%= @static_file.content_file.url %>"></video>
    <% elsif @static_file.mime_type == 'image/jpeg' %>
      <img width="200px" src="<%= @static_file.content_file.url %>" alt="アップロードした画像"></img>
    <% end %>
  </div>
</p>

<%= link_to 'Edit', edit_static_file_path(@static_file) %> |
<%= link_to 'Back', static_files_path %>
