<p>
  <strong><%= tm :address, :name %>:</strong>
  <%= @address.name %>
</p>

<p>
  <strong><%= tm :address, :email %>:</strong>
  <%= @address.email %>
</p>

<p>
  <strong><%= tm :address, :telephone %>:</strong>
  <%= @address.telephone %>
</p>

<%= link_to '編集', edit_address_path(@address) %> | 
<%= link_to '削除', address_path, method: :delete, data: { confirm: 'このアドレスを消去しますか?' } %>
